article {
    background:  #0000;
}

header {
  width: 100%;
  background-color: rebeccapurple;
  padding: 5px 20px 5px 20px;
}

h1 {
  font-family: "Courier New";
}

h2 {
  font-family: monospace;
  font-size: large;
}

section.main {
  margin: 2em 3em 2em 3em;
}

section.sources {
  margin: 2em 3em 2em 3em;
  border: 2px solid black;
  font-family: monospace;
  font-weight: bold;
}

img {
  float: left;
  width: 200px;
  height: 260px;
  margin: 0 1em 1em 0;
}

li {
  padding: 0.5em;
}
